.container {
  background-color: red;
  color: white;
  padding: 5px 0px;
}
.clear::after {
  content: "";
  display: table;
  clear: both;
}
h1 {
  float: left;
  margin: 0px;
  padding-left: 60px;
}
ul {
  float: right;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
ul li {
  float: left;
  padding: 2px 10px;
  border: 1px solid white;
  margin: 6px 25px;
}
.item {
  border-radius: 20px;
}
.one {
  margin-left: 70px;
}
.two {
  margin-left: -10px;
  margin-right: 90px;
}
